@font-face {
    font-family: 'Custom';
    src: url('./font/OpenSansCondensed-Light.ttf') format('truetype');
}
body {
    font-family: Custom;
    font-size: 36px;
    color: red;
}
.sky {
    background-color: #E0FFFF;
}